:root{
    background-color: wheat;
}

.center{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.cal_container{
    margin-top: 40px;
    background-color: rgba(13, 114, 139, 0.993);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(7, 75px);
    grid-template-columns: repeat(5, 75px);
    box-shadow: 10px 10px 8px #888888;
}

.screen_display {
    font-family: Arial, Helvetica, sans-serif;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1 ;
    grid-row-end: 4 ;
    text-align: center;
    border: solid 1px black;
    display: grid;
    grid-template-rows: repeat(2, 112.5px);
    box-shadow: inset 1px 1px 10px #000000;
}

ii{
    border: solid 2px red;
}

#upper_screen{
    font-size: 35px;
    display: flex;
    justify-content: left;
    padding-top: 40px;
    padding-left: 20px;
    border-bottom: groove 1px black;
    
}


#answer_text{
    font-size: 55px ;
    margin-top: 25.75px;
    text-align: right;
    padding-right: 20px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px ;
    background-color: rgba(50, 59, 82, 0);
    border-radius: 0px;
    border: solid 1px rgba(50, 59, 82, 0);;
}

.operator_color{
    background-color: rgb(255, 160, 125);
}

.operator_back_color{
    background-color: coral;
}

.delete_color{
    background-color: rgb(247, 78, 72);
}

#footer{
    background-color: cornflowerblue;
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: auto;
   
}

footer p{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 35px;
    font-size: small;
}

